body{
	text-align:center;
	font-family:comic sans ms;
    background-color: #371233;
	color: white;
	font-size:35px;
}

a{ 
	font-size: 15px;
color: white;
}

nav{
	color: white;
	text-align:center;
}

nav li {
    list-style-type: none;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

nav a:hover{
color:yellow;
}

.p1{
	
}